# jekyll
.jekyll-metadata
_site
.sass-cache
.jekyll-cache


# bundler
*.gem


# python
*.whl


# npm
node_modules
package-lock.json


# _sass
_sass/@primer/css/**/*.md


# lighthouse
*.report.html


# action
action.changelog.md

.idea/
